<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>College App</title>
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" href="/">CollegeApp</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/htmlDemo">HTML Demo</a></li>
          <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
          <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
          <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%- body %>
  </div>
</body>
</html>
