<%- include('partials/navs') %>

<div class="row">
    <div class="col-md-12">
      <br>
      <h2>About</h2>
      <hr />
      <p>This application was built as part of <strong>WEB700 Assignment 5</strong>.</p>
      <p>It uses Node.js, Express.js, and EJS templates to visually render student and course data.</p>
    </div>
  </div>
  