<%- include('partials/navs') %>

<div class="row">
    <div class="col-md-12">
      <h1>Welcome to the College App</h1>
      <p>This site displays student and course information.</p>
    </div>
  </div>
  